<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>doggen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="ion-text-center">
    <h1 class="welcome-message">Gerador por raça</h1>
    <p class="subtitle">
      Aqui você pode gerar um cachorro de sua raça preferida!
    </p>
    <ion-item lines="none">
      <ion-label>Selecione a raça:</ion-label>
      <ion-select [(ngModel)]="selectedBreed">
        <ion-select-option *ngFor="let breed of breeds" [value]="breed">
          {{ breed }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <div class="dog-image-container ion-margin-vertical">
      <img
        *ngIf="!loading"
        [src]="selectedBreedImage"
        alt="Imagem do cachorro"
      />
      <ion-spinner *ngIf="loading"></ion-spinner>
    </div>

    <ion-button expand="full" class="button" (click)="fetchBreedImage()"
      >Gerar dog</ion-button
    >
  </div>
</ion-content>
