<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>doggen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="ion-text-center">
    <h1 class="welcome-message">Bem-vindo ao doggen!</h1>
    <p>Clique no botão abaixo para gerar uma nova imagem de cachorro!</p>

    <div class="dog-image-container ion-margin-vertical">
      <img *ngIf="!loading" [src]="imagemCachorro" alt="Imagem do cachorro" />
      <ion-spinner *ngIf="loading"></ion-spinner>
    </div>

    <ion-button expand="full" class="button" (click)="gerarDog()"
      >Gerar dog</ion-button
    >
  </div>
</ion-content>
